.gradle/
**/build/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/gradle/wrapper/gradle-wrapper.jar
*.class
*.log
bin/
**/bin/

.idea/
*.iml
*.iws
*.ipr
out/
**/out/
.vscode/
.settings/
.project
.classpath

.DS_Store
Thumbs.db
*.tmp
*.bak
